# -*- coding: utf-8 -*-

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
plotly = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
zeep = "*"
diskcache = "*"

[dev-packages]

[requires]
python_version = "3.13"
